@use "../abstracts/mixins" as mixins;
@use "../abstracts/variables" as vars;

#main_section {
  @include mixins.flex-center($justify: flex-start);
  padding: 1rem;
  background: vars.$background-color;
  min-height: 100vh;
  padding: 20px 8%;

  h1 {
    @include mixins.font(700, 3rem);
    color: vars.$primary-color;
  }

  & > p {
    @include mixins.font(400, 1.2rem);
    color: vars.$primary-color;
  }
}

#buttons_container {
  @include mixins.flex-center($gap: 10px, $direction: row);
  background-color: vars.$primary-color;
  width: 100%;
  border-radius: 10px;
  padding: 10px 15px;

  button {
    color: vars.$primary-color;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    transition: transform 0.3s ease;
  }

  #load-btn {
    background-color: rgb(73, 70, 128);

    &:hover {
      transform: translateY(-2px);
    }
  }

  #clear_products {
    background-color: gray;

    &:hover {
      transform: translateY(-2px);
    }
  }

  input {
    padding: 8px;
    border-radius: 5px;
    flex-grow: 1;
  }

  #search-button {
    background-color: green;

    &:hover {
      background-color: rgb(34, 150, 34);
    }
  }
}

.total_container {
  background: vars.$primary-color;
  padding: 1rem 2rem;
  border-radius: 10px;
  width: 100%;
  @include mixins.font(600, 1.1rem);
  text-align: center;

  p {
    color: rebeccapurple;
  }

  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid rgb(197, 196, 196);
    border-bottom-color: rebeccapurple;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

#products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  margin-top: 2rem;
  width: 100%;
}

.product {
  background-color: vars.$primary-color;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s ease;
  @include mixins.flex-center(
    $gap: 10px,
    $align: flex-start,
    $justify: space-between
  );

  &:hover {
    transform: translateY(-5px);
  }

  &__image {
    object-fit: cover;
    height: 100px;
  }

  &__category {
    border-radius: 10px;
    background-color: gray;
    padding: 5px 10px;
    color: vars.$primary-color;
  }

  &__description {
    color: inherit;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__price {
    color: blue;
  }

  &__footer {
    @include mixins.flex-center(
      $direction: row,
      $justify: space-between,
      $gap: 0
    );
    border-top: 1px solid black;
    width: 100%;
    justify-self: end;
    padding: 10px 0;
  }

  &__raiting {
    color: vars.$raiting_color;
    font-weight: 600;
  }
}

#detail_section {
  display: none;
  background-color: rgb(20, 20, 20, 0.7);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
}

.detail {
  background: vars.$primary-color;
  margin: 2% 15%;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;

  &__header__close_modal {
    float: right;
    color: red;
    @include mixins.font(400, 1.6rem);

    &:hover {
      cursor: pointer;
    }
  }

  &__img {
    width: 50vh;
    margin: 0 auto;
  }

  &__info {
    @include mixins.flex-center($align: start, $gap: 20px);
  }

  &__title {
    align-self: center;
  }

  &__category {
    @include mixins.font(700, 1.1rem);
    border-radius: 10px;
    background-color: gray;
    padding: 5px 10px;
    color: vars.$primary-color;
  }

  &__price {
    color: blue;
    @include mixins.font(700, 1.5rem);
  }

  &__footer {
    @include mixins.flex-center($direction: row, $justify: space-between);
    border-top: 1px solid black;
    width: 100%;
    justify-self: end;
    padding: 10px 0;
  }

  &__raiting {
    @include mixins.font(700, 1.5rem);
    color: vars.$raiting_color;
  }
}

@media screen and (max-width: 600px) {
  #main_section {
    h1,
    & > p {
      text-align: center;
    }
  }

  #buttons_container {
    @include mixins.flex-center($gap: 10px);
    text-align: center;

    button,
    input {
      width: 100%;
    }
  }
}

@media screen and (max-width: 480px) {
  .detail {
    background: vars.$primary-color;
    margin: 3% 8%;
  }
}
